body {
	font-family: Optima;
}

#topvideo source {
	width: 1024px;
	height: 200px;
}

#topnav p {
	display: inline-block;
	background: grey;
	padding: 8px 16px;
	margin-right: 5px;
	border-radius: 7px
}

#topnav p a {
	color: white;
}

.main-content {
	margin: 10px;
}

